<body class="aboutpage"></body>

<div id="bartender"></div>

<span class="about"><h1>About CheersMate</h1></span>

<div class="container-fluid aboutwrapper">

  <p><strong>Welcome to CheersMate, your source for the best drinks in town brought to you by your best mates.</strong> CheersMate is a visual guide for drink specials. Instead of just reading random online reviews when deciding where to go, you can log in to CheersMate and see what your own friends are up to. CheersMate allows you to see what everyone is drinking in your area, but you can personalize your feed and just check out what people you follow are up to as well.</p>

  <p>Next time you're at a pub or restaurant and want to share your great experience, just log in to CheersMate, take a photo of your drink to upload, check in to your location, and add a short description to let your friends know what they're missing out on.</p>

<h3>Now all you have to do is get drinking. Cheers!</h3>
<h5><em>And always remember to drink responsibly.</em></h5>


</div>

</div>