@font-face {
    font-family:'cartonslab';
    src:asset-url('carton/carton-slab-webfont.eot');
    src: asset-url('carton/carton-slab-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('carton/carton-slab-webfont.woff') format('woff'),
         asset-url('carton/carton-slab-webfont.ttf') format('truetype'),
         asset-url('carton/carton-slab-webfont.svg#cartonslab') format('svg');
    font-weight: normal;
    font-style: normal;
}