// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.follow {
  color: #ec008c;
  font-weight: bolder;
  font-size: 24px;
}

.profile {
  color: #ec008c;
}